<h3>Latest Readings</h3>
<div class="row">
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-content">
        <h4>Temperature</h4>
        <h4 class="grey-text">{{ temperature }}&deg; C</h4>
        <p>Ambient Temperature</p>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l6">
    <div class="card">
      <div class="card-content">
        <h4>Humidity</h4>
        <h4 class="grey-text">{{ humidity }}%</h4>
        <p>Ambient Humidity</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <h4>Pressure</h4>
          <h4 class="grey-text">{{ pressure }}hPa</h4>
          <p>Atmospheric Presssure</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="card">
        <div class="card-content">
          <h4>Light</h4>
          <h4 class="grey-text">{{ light }}%</h4>
          <p>Light Intensity</p>
        </div>
      </div>
    </div>
  </div>